<div class="grid grid-cols-2 gap-4">

<div id="questions">
  <% @questions.each do |item| %>
    <%= render "questions/question", :item => item %>
  <% end %>
</div>
<%= paginate @questions %>
</div>
