<div class="grid grid-rows-2 gap-4">
  <div class="grid grid-cols-2 gap-4">

    <div id="questions">
      <% if @items.count == 0 %>
        <span>No results</span>
      <% else %>
        <% @items.each do |item| %>
          <% if item.searchable_type == 'Question' %>
            <%= render "questions/question", :item => Question.find(item.searchable_idr) %>
          <% elsif item.searchable_type == 'User' %>
            <%= render "users/user", :item => User.find(item.searchable_id) %>
          <% else %>
            <%= render "answers/answer", :item => Answer.find(item.searchable_id) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div>
    </div>
  </div>
  <div>
  </div>
</div>
